@import "tailwindcss";

:root {
  --background: #0B1117;
  --foreground: #FFFFFF;
  --primary: #08AAA5;
  --secondary: #1479A8;
  --tertiary: #12577A;
  --surface: #F3F7F8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-surface: var(--surface);
  --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B1117;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

@keyframes infinite-carousel {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);  
  }
  
}

.animate-infinite-carousel{
  animation: infinite-carousel 45s linear infinite;
}